[user]
	name = melio0504
	email = 82772382+melio0504@users.noreply.github.com
	signingkey = 2A0D4F063D341E80
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = code --wait
[color]
	ui = auto
[column]
	ui = auto
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
	verbose = true
[alias]
	st = status
	co = checkout
	br = branch
    ci = commit -m
    df = diff
    lg = log --oneline --graph --all --decorate
    uncommit = reset --soft HEAD~1
    undo = reset --hard HEAD~1
    amend = commit --amend
[tag]
	sort = version:refname
[gpg]
	program = gpg
[help]
	autocorrect = prompt
[push]
	autoSetupRemote = true
	followTags = true
