/* 
  Add this into /home/melio/.config/gtk-3.0
  This will make the terminal menu-bar disappear
*/

/* delete header terminal */
terminal-window headerbar *,
terminal-window .titlebar
{
  background-image:none;
  background-color:transparent;
  margin-top:-100px;
  border:none;
}

/* remove rounded corners */
terminal-window decoration {
  border-radius: 0px 0px 0px 0px;
}

VteTerminal,
TerminalScreen,
vte-terminal {
  padding: 10px 10px 10px 10px;
  -VteTerminal-inner-border: 10px 10px 10px 10px;
}
